@page "/todo"
@using BlazorApp
@rendermode InteractiveServer

<h3>@(todos.Count(x => !x.IsDone)) to-do left</h3>
<hr />

<div class="mb-3">
    <input @bind="newTodo" />
    <button class="btn btn-primary" @onclick="AddTodo">Add Todo</button>
</div>

<ul>
    @foreach (var todo in todos)
    {
        <li class="mb-2 d-flex gap-1">
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" disabled="@todo.IsDisabled" />
            <button @onclick=@(() => SetDisabled(todo)) class="btn btn-sm btn-primary">@(todo.IsDisabled ? "Edit" : "Stop Editing")</button>
        </li>
    }
</ul>

@code {
    private List<TodoItem> todos = new();
    private string newTodo = string.Empty;

    void AddTodo()
    {
        if (!string.IsNullOrEmpty(newTodo))
        {
            todos.Add(new TodoItem() { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    void SetDisabled(TodoItem todoItem)
    {
        todoItem.IsDisabled = !todoItem.IsDisabled;
        StateHasChanged();
    }

    void Save(TodoItem todoItem)
    {
        Console.WriteLine(todoItem.Title);
    }
}
